.app {
  text-align: center;
  padding: 20px;
}

.comment-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.new-comment {
  width: 50%;
  padding: 15px; /* Adjusted padding */
  font-size: 18px; /* Adjusted font size */
  border: none;
  border-radius: 20px;
  background-color: #090d33;
  color: white;
}

.add-comment-btn {
  padding: 12px 24px; /* Adjusted padding */
  font-size: 18px; /* Adjusted font size */
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

.add-comment-btn:hover {
  background-color: #219653;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  padding: 15px;
  background-color: #090d33;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.comment-text {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.reply-comment-btn {
  background: none;
  border: none;
  color: #27ae60;
  font-size: 16px; /* Adjusted font size */
  cursor: pointer;
}

.reply-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.reply-input textarea {
  width: 100%;
  padding: 15px; /* Adjusted padding */
  font-size: 18px; /* Adjusted font size */
  border: none;
  border-radius: 20px;
  background-color: #090d33;
  color: white;
  margin-bottom: 10px;
}

.reply-input button {
  padding: 12px 24px; /* Adjusted padding */
  font-size: 16px; /* Adjusted font size */
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.reply-input button.cancel-reply-btn {
  background-color: #c0392b;
}

.reply-list {
  margin-top: 10px;
  margin-left:7%;
  margin-bottom: 15px;
}

.reply-text {
  font-size: 18px;
  margin: 5px 0;
  margin-left: 15%;
  color: #ece4c9;
  display:table-row; /* Display each reply on a new line */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}